h1 {
  color: #0066FF;
}
#myTbl {
  border-color: #0066FF;
  border-width: 3px;
}
td {
  border-color: #FFFFFF;
  margin: 0px;
  padding: 2px;
}
.displayButton {
  padding: 3px;
  border-radius: 4px;
}
#errorMessage {
  color: #FF0000;
  display: none;
}
p.showMe {
  display: block;
}
input {
  padding: 3px;
  border-radius: 4px;
}
